RewriteEngine on

RewriteRule ^home$ index.php?action=home [L,QSA]
RewriteRule ^test$ index.php?action=test [L,QSA]
RewriteRule ^map$ index.php?action=map [L,QSA]
RewriteRule ^compare$ index.php?action=compare [L,QSA]
RewriteRule ^top$ index.php?action=top [L,QSA]