{% extends "layout.html" %}
{% block title %}HOME{% endblock title %}
    
{% block style %}
	{{ parent() }}
{% endblock style %}

{% block script_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock script_head %}

{% block content %}
	<form method="post">
        <div> 
            <h2>Régions</h2>
            <input type="checkbox" name="regions" class="regions" value="11" id="ile-de-france"><label for="ile-de-france">Ile-de-France</label>
            <input type="checkbox" name="regions" class="regions" value="24" id="centre-val-de-loire"><label for="centre-val-de-loire">Centre-Val de Loire</label>
            <input type="checkbox" name="regions" class="regions" value="27" id="bourgogne-franche-comte"><label for="bourgogne-franche-comte">Bourgogne Franche-Comté</label>
            <input type="checkbox" name="regions" class="regions" value="28" id="normandie"><label for="normandie">Normandie</label>
            <input type="checkbox" name="regions" class="regions" value="32" id="hauts-de-france"><label for="hauts-de-france">Hauts-de-France</label>
            <input type="checkbox" name="regions" class="regions" value="44" id="grand-est"><label for="grand-est">Grand Est</label>
            <input type="checkbox" name="regions" class="regions" value="52" id="pays-de-la-loire"><label for="pays-de-la-loire">Pays de la Loire</label>
            <input type="checkbox" name="regions" class="regions" value="53" id="bretagne"><label for="bretagne">Bretagne</label>
            <input type="checkbox" name="regions" class="regions" value="75" id="nouvelle-aquitaine"><label for="nouvelle-aquitaine">Nouvelle-Aquitaine</label>
            <input type="checkbox" name="regions" class="regions" value="76" id="occitanie"><label for="occitanie">Occitanie</label>
            <input type="checkbox" name="regions" class="regions" value="84" id="auvergne-rhone-alpes"><label for="auvergne-rhone-alpes">Auvergne-Rhône-Alpes</label>
            <input type="checkbox" name="regions" class="regions" value="93" id="provence-alpes-cote-dazur"><label for="provence-alpes-cote-dazur">Provences-Alpes-Côte d'Azur</label>
            <input type="checkbox" name="regions" class="regions" value="94" id="corse"><label for="corse">Corse</label>
        </div>
        <button id="submitCompare" type="submit">Comparer</button>
    </form>



    <div id="columnchart_materialA"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialB"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialC"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialD"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialE"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialF"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialG"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialH"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialI"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialJ"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialK"  style='width: 800px; height: 500px;'></div>
    <div id="columnchart_materialL"  style='width: 800px; height: 500px;'></div>
{% endblock content %}

{% block script %} 
    
    <script type="text/javascript" src="assets/js/compare.js"></script>
{% endblock script %}