* {
overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: Orbitron;
    background: url("../media/platinium.jpg");
}

.map__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map__image svg {
    padding-right: 10px;
    width: 300px;
    height: 100%;
}

.map__image path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: white;
}

.map__image .is-active path {
    fill: white;
}

.map__list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 30%;
    border: 1px solid black;
    background-color: #a4ced2;
}

.map__list a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.map__list p:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.map__list p.is-active {
    /* font-weight: bold; */
    background-color: white;
}

.map__list p {
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0;
}

/* NavBar */

nav {
    top: 10px;
    left: 0;
    width: auto;
    height: 100px;
    transition: .5s;
}

nav .logo {
    float: left;
    padding-top: 15px;
    padding-left: 5px;
}

nav .logo img {
    height: 50px;
    transition: .5s;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    
}

nav ul li a {
    font-size: 18px;
    line-height: 80px;
    padding: 5px 20px;
    text-decoration: none;
    transition: .5s;
    color: #a4ced2;
}

/* Media Queries */

@media all and (min-width: 320px) and (max-width: 767px) { 

    .map__list {
        display: none;
    }

    .map__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-52%, -50%);
    }

    nav ul li a {
        font-size: 25px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) { 

    nav {
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        transition: .5s;
    }

    .map__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 30%;
        border: 1px solid white;
        background-color: #a4ced2;
    }

    .map__image {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%);
    }

    .map__image svg {
        width: 80%;
        height: 500px;
        padding-top: 100px;
    }

    nav ul li a {
        font-size: 30px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) { 

    nav {
        position: fixed;
        top: 10px;
        left: 0;
        width: auto;
        box-sizing: border-box;
        transition: .5s;
    }

    .map__image svg {
        width: 500px;
        height: 600px;
        padding-top: 100px;
    }

    .map__image {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
    }

    .map__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 30%;
        border: 1px solid white;
        background-color: #a4ced2;
    }

    p {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        margin: auto;
        padding: auto;
        padding-left: 0;
        overflow: hidden;
    }

    li {
        padding-left: 25px;
    }
    
    li a {
        font-size: 35px;
    }
    
    li img {
        width: 70px;
        height: 70px;
        padding: 0px 10px 20px 15px;
    }
}
 
@media all and (min-width: 1440px) and (max-width: 2540px) { 

    nav {
        position: fixed;
        top: 10px;
        left: 0;
        width: auto;
        box-sizing: border-box;
        transition: .5s;
    }

    .map__image svg {
        width: 100%;
        height: 600px;
        padding-top: 100px;
    }

    .map__image {
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
    }

    .map__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 30%;
        border: 1px solid white;
        background-color: #a4ced2;
    }

    p {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        margin: auto;
        padding: auto;
        padding-left: 0;
        overflow: hidden;
    }

    li {
        padding-left: 25px;
    }
    
    li a {
        font-size: 35px;
    }
    
    li img {
        width: 70px;
        height: 70px;
        padding: 0px 10px 20px 15px;
    }
}
