/* NavBar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    transition: .5s;
}

nav .logo {
    padding-left: 15px;
    padding-top: 10px;
}

nav .logo img {
    height: 50px;
    transition: .5s;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding-left: 20px;
    font-size: 25px;
    line-height: 70px;
    text-decoration: none;
    transition: .5s;
    color: #a4ced2;
}

.navFooter {
    position: absolute;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    color: #77cbd3;
    text-align: center;
    z-index: -10;
    }


/* Media Queries */

@media all and (min-width: 576px) and (max-width: 767px) { 

    .container {
        width: 100%;
    }

    nav ul li a {
        font-size: 22px
    }
}

@media all and (min-width: 768px) and (max-width: 991px) { 

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        transition: .5s;
    }

    nav ul li a {
        font-size: 25px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;;display: block;
    }

    .navFooter {
        font-size: 16px;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #a4ced2;
        text-align: center;
        z-index: -10;
        }
}

@media all and (min-width: 992px) and (max-width: 1199px) { 

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        transition: .5s;
    }

    nav ul li a {
        font-size: 30px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;
    }

    .navFooter {
        font-size: 16px;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #a4ced2;
        text-align: center;
        }
}

 
@media (min-width: 1200px) { 

    nav {
        top: 10px;
        left: 0;
        width: 400px;
        box-sizing: border-box;
        transition: .5s;
    }

    nav ul li a {
        font-size: 25px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;
    }

    .navFooter {
        font-size: 20px;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #a4ced2;
        text-align: center;
        z-index: -10;
        }
}