body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Orbitron;
    background: url("../media/mapearth.jpg");
    background-size: cover;
    animation: animateBg 60s linear infinite;
}

.main {
    position: relative;
    top: auto;
    margin-top: 10px;
    background-color: #a4ced2;
}

.main-content {
    margin-top: 20px;
    color: #a4ced2;
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #a4ced2;
}

.text-content {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    color: #a4ced2;
}

.main h1 {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}

p {
    padding-bottom: 10px;
    font-size: 15px;
    color: black;
    text-align: center;
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background: url("../media/earth.png");
    background-size: cover;
    animation: animateEarth 12s linear infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 30px rgba(255,255,255,.5);
}

@keyframes animateEarth {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 719px 0;
    }
}

@keyframes animateBg {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1600px 0;
    }
}

.pulse span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    animation: animate 6s linear infinite;
}

.pulse span:nth-child(1){
    animation-delay: 0s;
}

.pulse span:nth-child(2){
    animation-delay: -2s;
}

.pulse span:nth-child(3){
    animation-delay: -4s;
}

@keyframes animate {
   
    0% {
        width: 200px;
        height: 200px;
        opacity: 1;
    }

    50% {
        
        opacity: 1;
    }

    100% {
        width: 1000px;
        height: 1000px;
        opacity: 0;
    }
}

/* Media Queries  */

@media all and (min-width: 320px) and (max-width: 767px) {

    .main h1 {
        padding-top: 10px;
        font-size: 20px;
        color: black;
        text-align: center;
    }
    
    p {
        font-size: 15px;
        color: black;
        text-align: center;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    
    p {
        font-size: 20px;
        color: black;
        text-align: center;
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {

    .main h1 {
        font-size: 30px;
        color: black;
        text-align: center;
    }
    
    p {
        font-size: 20px;
        color: black;
        text-align: center;
    }
}
@media all and (min-width: 1440px) and (max-width: 2540px) {

    .main h1 {
        font-size: 30px;
        color: black;
        text-align: center;
    }
    
    p {
        font-size: 20px;
        color: black;
        text-align: center;
    }
}