body {
    padding: 0;
    margin: 0;
    font-family: Orbitron;
    background: url("../media/platinium.jpg");
    background-size: cover;
    background-repeat: round;
}

.map__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map__image svg {
    padding-right: 10px;
    width: 300px;
    height: 100%;
}

.map__image path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: white;
}

.map__image .is-active path {
    fill: white;
}

.map__list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 30%;
    border: 1px solid black;
    background-color: #a4ced2;
}

.map__list a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.map__list p:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.map__list p.is-active {
    /* font-weight: bold; */
    background-color: white;
}

.map__list p {
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* Media Queries */

@media all and (min-width: 320px) and (max-width: 767px) { 

    .map__list {
        display: none;
    }

    .map__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-52%, -50%);
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) { 

    .map__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 30%;
        border: 1px solid white;
        background-color: #a4ced2;
    }

    .map__image {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%);
    }

    .map__image svg {
        width: 80%;
        height: 500px;
        padding-top: 100px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) { 

    .map__image svg {
        width: 500px;
        height: 600px;
        padding-top: 100px;
    }

    .map__image {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
    }

    .map__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 30%;
        border: 1px solid white;
        background-color: #a4ced2;
    }
}
 
@media all and (min-width: 1440px) and (max-width: 2540px) { 

    .map__image svg {
        width: 100%;
        height: 600px;
        padding-top: 100px;
    }

    .map__image {
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
    }

    .map__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 30%;
        border: 1px solid white;
        background-color: #a4ced2;
    }
}
