body {
    padding: 0;
    margin: 0;
    font-family: Orbitron;
    background: url("../media/platinium.jpg");
    background-size: cover;
}

.map__image svg {
    width: 95%;
    height: 100%;
}

.map__image path {
    position: relative;
    display: inline-block;
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: all 300ms;
    transform: scale(1);
}

.map__image path:hover {
    transition: 300ms;
    transform: scale(1.02);
    fill: white;
}

.map__image .is-active path {
    fill: white;
}

.map__list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.map__list a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.map__list p {
    margin: 0;
    text-align: center;
    background-color: #a4ced2;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom:  1px solid white;
}

.map__list p:nth-child(1){
    background-color: black;
    color: #a4ced2;
    border-top: 1px solid white;
}

.map__list p:last-child {
    border-bottom: 1px solid white;
}

.list-content {
    background-color: #000;
    color: #a4ced2;
}

p {
    padding-top: 15px;
    padding-bottom: 10px;
}


.map__list p.is-active {
    /* font-weight: bold; */
    background-color: white;
}

/* Modal */

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none; /* Hidden by default */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 600px; /* Full width */
    height: 600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
}

/* Modal Content */
.modal-content {
    position: relative;
    width: auto;
    height: auto;
    background-color: #a4ced2;
    margin: auto;
    border: 1px solid #000;
} 

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-family: Orbitron;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#piechart_3d {
    position: relative;
    width: 500px;
    height:500px;
    transition: scale 1s;
}

/*#piechart_3d path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
} */    

 #piechart_3d path:hover {
    scale: 2 0.7;
}

/*#piechart_3d .is-active path {
    fill: white;
} */

#piechart_3d {
    font-family: Orbitron;
}



/* Media Queries */

@media all and (min-width: 576px) and (max-width: 767px) { 

    .map__list {
        display: none;
    }

    .map__image svg {
        max-width: 100%;
        height: auto;
        padding-top: 80px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) { 

    .map {
        display: flex;
        justify-content: space-between;
    }
    
    .map__list {
        display: none;
    }

    .map__image {
        width: 100%;
        height: 100%;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) { 


    .map__list {
        display: none;
    }
}
 
@media (min-width: 1200px) { 


    .map {
        display: flex;
        justify-content: space-between;
    }
    
    .map__list {
        display: block;
        width: 30%;
    }

    .map__image {
        width: 50%;
        height: 100%;
    }

    .map__image svg {
        width: 100%;
        height: 100%;
    }
}
