/* NavBar */

nav {
    overflow: hidden;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100px;
    transition: .5s;
}

nav .logo {
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

nav .logo img {
    height: 50px;
    transition: .5s;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    
}

nav ul li a {
    padding-left: 20px;
    font-size: 18px;
    line-height: 70px;
    text-decoration: none;
    transition: .5s;
    color: #a4ced2;
}

.navFooter {
    position: absolute;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    color: #a4ced2;
    text-align: center;
    z-index: -10;
    }


/* Media Queries */

@media all and (min-width: 320px) and (max-width: 767px) { 

    nav ul li a {
        font-size: 20px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) { 

    nav {
        top: 10px;
        left: 0;
        width: 400px;
        box-sizing: border-box;
        transition: .5s;
    }

    nav ul li a {
        font-size: 25px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) { 

    nav {
        top: 10px;
        left: 0;
        width: 400px;
        box-sizing: border-box;
        transition: .5s;
    }

    nav ul li a {
        font-size: 25px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;
    }

   
}
 
@media all and (min-width: 1440px) and (max-width: 2540px) { 

    nav {
        top: 10px;
        left: 0;
        width: 400px;
        box-sizing: border-box;
        transition: .5s;
    }

    nav ul li a {
        font-size: 25px;
        line-height: 100px;
    }

    nav .logo img {
        height: 80px;
    }
}