body {
    padding: 0;
    margin: 0;
    font-family: Orbitron;
    background: url("../media/platinium.jpg");
    background-size: cover;
}

h2 {
    text-align: center;
    color: #77cbd3;
}


#topFiveTowns {
    display: flex;
    justify-content: space-around;
}

#topFiveRegion {
    display: flex;

}

#b {
    text-align: center;
    width: 200px;
}

#a {
    text-align: center;
}